<!DOCTYPE html>
<html>
    <head>
        <title><%= title%></title>
    </head>

    <body>
        <h1><%= title%></h1>
        <p>Steven Rum Test</p>
        <a href="/second">Go To Second Page</a>
    </body>

</html>